<style>

    .removeProduct{
        cursor: pointer;
    }

</style>

<template>
    <div>

    </div>

</template>

<script>


    export default {


        mounted(){

            this.fetchProducts()

        },


        data () {
            return {
                products: [],
                authenticated: window.Laravel.authenticated,
                user: window.Laravel.user,
                addProductForm:{
                    data:{
                        name: '',
                        quantity: '',
                        price:''
                    },
                },
            }
        },



        computed:{


        },

        methods:{

            fetchProducts(){

                axios.get('/products/fetch')
                    .then(response=>{
                        this.products = response.data;
                    })
            },


            save(){

                let that = this;

                this.$validator.validateAll().then((result) => {

                    if (result) {
                        axios.post('/products/store',that.addProductForm.data)
                            .then(response=>{
                                that.products.push(response.data.data);
                                toastr.success(response.data.status);
                                that.reset();
                            })
                            .catch(err => {
                                that.$setErrorsFromResponse(err.response.data);
                            });
                    }

                });

            },



            destroy(index,product){

                axios.delete('/products/'+product.id+'/delete')
                    .then(response=>{

                        this.products.splice(index, 1);

                        toastr.success(response.data.status)
                    })
                    .catch(response=>{
                        toastr.error(response.status)
                    })
            },

            reset(){
                this.addProductForm={
                    data:{
                        name: '',
                        quantity: '',
                        price:''
                    },
                };
                this.$validator.reset();
            }
        }
    }
</script>

